name: MLflow CI Training

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: trained-model-artifacts
          path: workflow-CI/MLProject/mlruns
