name: CI/CD MLflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CSV_URL: "workflow-CI/MLProject/preprocessing/processed_dataset.csv"
  TARGET_VAR: "PlacementStatus"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      # Setup Python 3.10
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check Env
        run: |
          echo $CSV_URL

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow
          pip install -r workflow-CI/MLProject/requirements.txt 

      - name: Run mlflow project
        run: |
          cd workflow-CI/MLProject
          mlflow run . --env-manager=local -P data_path="preprocessing/processed_dataset.csv" -P target_var="PlacementStatus"

      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td workflow-CI/MLProject/mlruns/0/*/ 2>/dev/null | head -n 1 | xargs basename)
          if [ -z "$RUN_ID" ]; then
            echo "No MLflow runs found!"
            exit 1
          fi
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "cc"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest