name: Automated Preprocessing

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Bisa dijalankan manual

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pandas scikit-learn imblearn

      - name: Run Preprocessing Script
        run: |
          python preprocessing/automate_Elyas-Randi-Renaldi.py

      - name: Upload Processed Dataset
        uses: actions/upload-artifact@v4
        with:
          name: processed-dataset
          path: preprocessing/processed_dataset.csv
